<h3>Buscador de lecciones</h3>

<form>
  <label for="search">Search</label>
  <input type="text" name="search">
  <button>Buscar</button>

</form>

{{searchLesson.topic}} y {{searchLesson.description}}